.container {
    display: flex;
    justify-content:space-between;

}
.nav {
    font-size: 1.1rem;
    color: black;
    margin-right: 0%;
    padding-right: 110px;
    margin-top: 50px;
}
.logo {
    height: 90px;
    margin-left: 110px;
}
